<!DOCTYPE html>
<html>
  <head>
    <title>PulangMengundi</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'https://www.pulangmengundi.com', class: 'navbar-brand' do %>
            <strong>#PULANGMENGUNDI</strong>
          <% end %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <%= link_to 'Carpool', 'https://carpool.pulangmengundi.com', class: 'font-weight-semibold' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Subsidy', root_path, class: 'font-weight-semibold' %>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
              <%= link_to 'FAQ', faq_path, class: 'font-weight-semibold' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Contact', contact_path, class: 'font-weight-semibold' %>
            </li>
            <% if user_logged_in? %>
              <% if current_user.request %>
                <!-- if user has request -->
                <li class="nav-item">
                  <%= link_to 'My Request', current_user.request, class: 'font-weight-semibold' %>
                </li>
              <% end %>
              <li class="nav-item">
                <%= link_to 'My Sponsorships', pledges_path, class: 'font-weight-semibold' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Log out', sessions_path, method: :delete, class: 'font-weight-semibold' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Log in', new_sessions_path, class: 'font-weight-semibold' %>
              </li>
            <% end %>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"> 
          <%= value %>
      </div>
    <% end %>
    <div class="container pb-5">

      <%= yield %>
    </div>
  </body>
</html>
