<!DOCTYPE html>
<html>
  <head>
    <title>PulangMengundi</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <% if Rails.env.production? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga("create", "UA-117450354-2", "auto");
      </script>
    <% end %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <div class="bg-black text-center" style="height: 20px;">
      <%= link_to "Back to #pulangmengundi main site", 'https://www.pulangmengundi.com', class: 'text-primary-orange' %>
    </div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class: 'navbar-brand' do %>
            <strong>#PULANGMENGUNDI</strong>
          <% end %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <%= link_to 'Carpool', 'https://carpool.pulangmengundi.com', class: 'font-weight-semibold' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Subsidy', root_path, class: 'font-weight-semibold' %>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
              <%= link_to 'FAQ', faq_path, class: 'font-weight-semibold' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Contact', contact_path, class: 'font-weight-semibold' %>
            </li>
            <% if user_logged_in? %>
              <% if current_user.request %>
                <!-- if user has request -->
                <li class="nav-item">
                  <%= link_to 'My Request', current_user.request, class: 'font-weight-semibold' %>
                </li>
              <% end %>
              <li class="nav-item">
                <%= link_to 'Completed Sponsorships', completed_requests_path, class: 'font-weight-semibold' %>
              </li>
              <li class="nav-item">
                <%= link_to 'My Sponsorships', pledges_path, class: 'font-weight-semibold' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Log out', sessions_path, method: :delete, class: 'font-weight-semibold' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Log in', new_sessions_path, class: 'font-weight-semibold' %>
              </li>
            <% end %>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <% if current_user&.has_actionable_pledge? %>
      <div class="alert alert-info">
        <span class='text-white'>A donor has transferred funds. </span>
        <%= link_to manage_pledge_path(current_user.pending_confirmation_pledge) do %>
          <button class="btn btn-default btn-sm ml-3">
            Manage Pledge
          </button>
        <% end %>
      </div>
    <% end %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"> 
        <%= value %>
      </div>
    <% end %>
    <div class="container pb-5">
      <%= yield %>
    </div>

    <%= yield :modal %>
  </body>
</html>
